/* Alle sider */
body{
    width: 1024px;
    height: 784px;
    font-family:'montserrat', sans-serif;
    background: linear-gradient(to bottom, #2B9AC1 0%, #2B9AC1 70%, #D4A181 70%, #D4A181 100%);
    
}

/* Animationer */

.lille-sky {
    width: 1024px;
    height: 784px;
    background: url(../billeder/LoadingSkyAnimation-01.png) 0 0 no-repeat;
    animation: lille-sky 2s steps(15) infinite;
    position: absolute;
}

@keyframes lille-sky {
    0% {background-position: 0px;}
    100% {background-position: -15360px;}
}

/* Vejret */

.vejr{
    visibility: hidden;
    height: 0;
}

.menu{
    float: left;
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    margin-top: 0;
    position: fixed;
    cursor: pointer;
}

.menuSpil{
    position: fixed;
    margin-left: 900px;
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    margin-top: 0;
    cursor: pointer;
}

.menu-boks{
    position: absolute;
    width: 80px;
    height: 400px;
    padding 0 5px;
    font-size: 20px;
    margin-top: 80px;
    transition: all 0.3s ease-in-out;
}

.menu-boks ul{
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.menu-boks ul li{
    text-transform: uppercase;
    list-style: none;
    line-height: 60px;
}

.menu-boks ul li span, .menu-boks ul li a{
    text-decoration: none;
    color: #F7E648;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    display: block;
    height: 60px;
    padding: 0 10px;
    font-size: 24px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.menu-boks ul li span{
    text-decoration: underline;
    font-size: 28px;
}

.menu-boks ul li a:hover{
    cursor: pointer;
}

.vejretBear{
    height: 500px;
    margin-left: 400px;
    margin-top: 200px;
    position: absolute;
    cursor: pointer;
}

.vejretSky{
    width: 450px;
    height: 300px;
    margin-left: 300px;
    position: absolute;
}

.speechBox1 {
    width: 200px;
    margin: 50px auto;
    border: 4px solid #F0F8FF;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #F0F8FF;
    border-radius: 25px;
    position: absolute;
    margin-top: 450px;
    margin-left: 140px;
}

.speechBox1:before {
    content: "";
    position: absolute;
    border-left: 10px solid #F0F8FF;
    border-right: 10px solid transparent;
    border-top: 10px solid #F0F8FF;
    border-bottom: 10px solid transparent;
    right: -20px;

}

.vejretGrader{
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 700px;
    margin-left: 500px;
    color: #F0F8FF;
    position: absolute;
}

/* Kort spil valg */

.spilValg{
    visibility: hidden;
    height: 0;
}

.valgSky{
    width: 450px;
    height: 300px;
    display: block;
    margin-left: 300px;
    position: absolute;
}

.valgBamse{
    height: 375px;
    display: block;
    margin-left: 410px;
    margin-top: 340px;
    position: absolute;
}

.valgSolbriller{
    position: absolute;
    margin-top: 350px;
    margin-left: 100px;
    cursor: pointer;
}

.paraply{
    position: absolute;
    margin-left: 650px;
    margin-top: 300px;
    cursor: pointer;
}

/* Kort spil forkert valg */

.kortSpilForkert{
    visibility: hidden;
    height: 0;
}

.sadBear{
    height: 375px;
    display: block;
    margin-left: 400px;
    margin-top: 325px;
    position: absolute;
    cursor: pointer;
}

.talebox{
    position: absolute;
    text-align: center;
    margin-top: 400px;
    margin-left: 150px;
    font-size: 20px;
    border: 4px solid #F0F8FF;
    padding: 20px;
    text-align: center;
    color: #F0F8FF;
    border-radius: 25px;
    text-transform: uppercase;
}

/* Kort spil rigtigt valg */

.kortSpilRigtigt{
    visibility: hidden;
    height: 0;
}

.happybear{
    height: 500px;
    display: block;
    margin-left: 400px;
    margin-top: 200px;
    position: absolute;
    cursor: pointer;
}

.happybox{
    position: absolute;
    text-align: center;
    margin-top: 400px;
    margin-left: 75px;
    font-size: 20px;
    border: 4px solid #F0F8FF;
    padding: 20px;
    text-align: center;
    color: #F0F8FF;
    border-radius: 25px;
    text-transform: uppercase;
}

/* Parents */

.back{
    float: left;
    position: absolute;
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

.parentSpil{
    float: right;
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

.parentHeadline{
    text-align: center;
    color: #F7E648;
    margin: 40px 150px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    text-decoration: underline;
}

.parentText{
    text-align: center;
    color: #191847;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 135%;
    font-weight: bold;
    text-shadow: 2px 2px 5px #ED7A1B;
}

.indstillinger{
    float: left;
    font-size: 150%;
    border: 2px solid black;
    padding: 15px;
    background-color: #ED7A1B;
    color: #191847;
    margin-left: 150px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #191847;
}

.help{
    float: right;
    font-size: 150%;
    border: 2px solid black;
    padding: 15px;
    background-color: #ED7A1B;
    color: #191847;
    margin-right: 150px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #191847;
}

/* Ven */

.cat{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 17%; 
   
}

.dino{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 3%; 
    
}

.elephant{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 17%;
    
}

.fox{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 3%; 
    
}

.hero{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 10%; 
    
}

.headline{
    color: #F7E648; 
    font-size: 400%;
    margin-left: 35%; 
    margin-bottom: -3%; 
    text-shadow: 3px 3px 3px black;
}

.monkey{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 5%;
    margin-top: 6%;
    
}

.ninja{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 21%;
    
}

.princess{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 6%; 
}

.teddy{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 21%;
}

.tiger{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 6%;
}

.girl{
    width: 100px; 
    height: 100px;
    float: left;
    margin-left: 3%; 
    margin-top: 21%;
}

.lion{
    width: 100px; 
    height: 100px;
    float: left;
    margin-left: 3%; 
    margin-top: 6%; 
}

/* karakter popup */


.boy{
    width: 100px; 
    height: 140px;
    float: left; 
    margin-left: 5%; 
    margin-top: 17%;   
 }

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
    margin-bottom: -170px;
}

#caption {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  color: #F7E648;
  padding: 10px 0;
    font-size: 50px;

}

.modalContent, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 50px;
  right: 100px;
  color: #F7E648;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* kanin */

.bunny{
    width: 100px; 
    height: 130px; 
    float: left; 
    margin-left: 3%; 
    margin-top: 3%; 
    
}

#myImg2 {
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {
    opacity: 0.7;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContent2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
    margin-bottom: -170px;
}

#caption2 {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  color: #F7E648;
  padding: 50px 0;
    font-size: 50px;

}

.modalContent2, #caption2 { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close2 {
  position: absolute;
  top: 50px;
  right: 100px;
  color: #F7E648;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Spil */

/* LEVEL 1: MAP */
.map{
    height: 0px;
    visibility:
}

.spilHeadline{
    text-align: center;
    color: #F7E648;
    margin-left: 350px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    text-decoration: underline;
    position: absolute; 
}

/* Tryk på spil - map */
.kort{
    height: 640px;
    width: 1024px;
    margin-top: 80px;
    position: absolute;
}

.startSpil{
    position: absolute;
    margin-top: 0px;
    margin-left: 900px;
    background-color: #F7E648;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    cursor: pointer;
    
}

/* FØRSTE VALGMULIGHED */
.choice1{
    height: 0px;
    visibility: hidden;
}

.teddybear1{
    height: 400px;
    width: 250px;
    margin-left: 300px;
    margin-top: 300px;
    position: absolute;
}

/*ANDEN VALGMULIGHED*/
.choice2{
    height: 0px;
    visibility: hidden;
}

.teddybear2{
    height: 550px;
    width: 318px;
    margin-left: 50px;
    margin-top: 150px;
    position: absolute;
}


/* TREDJE VALGMULIGHED*/
.choice3{
    height: 0px;
    visibility: hidden;
}

.teddybear3{
    height: 420px;
    width: 280px;
    margin-left: 50px;
    margin-top: 290px;
    position: absolute;
}

.raincloud{
    width: 450px;
    height: 300px;
    margin-left: 200px;
    position: absolute;
}

.umbrella{
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
    cursor: pointer;
}

.sunglasses{
    position: absolute;
    margin-top: 350px;
    margin-left: 50px;
    cursor: pointer;
}

.bushes{
    height: 200px;
    width: 250px;
    margin-top: 400px;
    position: relative;  
}


/* LEVEL 2: MAP */

.mapLevel2{
    height: 0px;
    visibility: hidden;
}

/*LEVEL 2: FØRSTE VALGMULIGHED*/

.level2Choice1{
    height: 0px;
    visibility: hidden;
}

.snowcloud{
    width: 450px;
    height: 300px;
    margin-left: 200px;
    position: absolute;
}

.hat{
    height: 200px;
    width: 200px;
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
    cursor: pointer;
}

.shorts{
    width: 200px;
    position: absolute;
    margin-top: 350px;
    margin-left: 50px;
    cursor: pointer;
}

/*LEVEL 2: ANDEN VALGMULIGHED*/

.level2Choice2{
    height: 0px;
    visibility: hidden;
}

.teddybear4{
    height: 450px;
    width: 250px;
    margin-left: 50px;
    margin-top: 250px;
    position: absolute;
}

.snowbushes{
    height: 200px;
    width: 250px;
    margin-top: 400px;
    position: relative;  
}

/*LEVEL 2: TREDJE VALGMULIGHED*/

.level2Choice3{
    height: 0px;
    visibility: hidden;
}

.teddybear5{
    height: 400px;
    width: 250px;
    margin-left: 50px;
    margin-top: 300px;
    position: absolute;
}



