/* Alle sider */
body{
    width: 1024px;
    height: 784px;
    font-family:'montserrat', sans-serif;
    background-color: #2B9AC1;
    
}

/* Animtioner */

.lille-sky {
    width: 1024px;
    height: 784px;
    background: url(../billeder/LoadingSkyAnimation-01.png) 0 0 no-repeat;
    animation: lille-sky 2s steps(15) infinite;
}

@keyframes lille-sky {
    0% {background-position: 0px;}
    100% {background-position: -15360px;}
}

/* Vejret */

/* Parents */

.back{
    float: left;
    background-color: #2B9AC1;
}

.parentHeadline{
    text-align: center;
    color: #191847;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.parentText{
    text-align: center;
    color: #191847;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 110%;
}

.indstillinger{
    float: left;
    font-size: 150%;
    border: 2px solid black;
    padding: 10px;
    background-color: #ED7A1B;
    color: #191847;
    margin-left: 150px;
}

.help{
    float: right;
    font-size: 150%;
    border: 2px solid black;
    padding: 10px;
    background-color: #ED7A1B;
    color: #191847;
    margin-right: 150px;
    
}

/* Ven */

/* Spil */