body{
    width: 1024px;
    height: 784px;
    font-family:'montserrat', sans-serif;
    background-color: #2B9AC1;  
}

.tilbagepil{
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    cursor: pointer;
    
}

.controller{ 
    margin-left: 92%; 
    margin-top: -6%;
    background-color: #2B9AC1;
    box-shadow: 5px 5px 5px #191847;
    border-radius: 25px;
    width: 90px;
    height: 80px;
    cursor: pointer;
}


.cat{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 17%; 
   
}

.dino{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 3%; 
    
}

.elephant{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 17%;
    
}

.fox{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 3%; 
    
}

.hero{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%;
    margin-top: 17%; 
    
}

.headline{
    color: #F7E648; 
    font-size: 400%;
    margin-left: 35%; 
    margin-bottom: -3%; 
    text-shadow: 3px 3px 3px black;
}

.monkey{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 5%;
    margin-top: 6%;
    
}

.ninja{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 21%;
    
}

.princess{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 6%; 
}

.teddy{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 21%;
}

.tiger{
    width: 100px; 
    height: 100px;
    float: left; 
    margin-left: 3%; 
    margin-top: 6%;
}

.girl{
    width: 100px; 
    height: 100px;
    float: left;
    margin-left: 3%; 
    margin-top: 21%;
}

.lion{
    width: 100px; 
    height: 100px;
    float: left;
    margin-left: 3%; 
    margin-top: 6%; 
}

/* karakter popup */


.boy{
    width: 100px; 
    height: 140px;
    float: left; 
    margin-left: 5%; 
    margin-top: 17%;   
 }

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
    margin-bottom: -170px;
}

#caption {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  color: #F7E648;
  padding: 10px 0;
    font-size: 50px;

}

.modalContent, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 50px;
  right: 100px;
  color: #F7E648;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* kanin */

.bunny{
    width: 100px; 
    height: 130px; 
    float: left; 
    margin-left: 3%; 
    margin-top: 3%; 
    
}

#myImg2 {
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {
    opacity: 0.7;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContent2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
    margin-bottom: -170px;
}

#caption2 {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  color: #F7E648;
  padding: 50px 0;
    font-size: 50px;

}

.modalContent2, #caption2 { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close2 {
  position: absolute;
  top: 50px;
  right: 100px;
  color: #F7E648;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}